.our-products-container {
    text-align: center;
    margin-bottom: 20px;
}

.our-products-heading {
    font-size: 2em;
    font-weight: bold;
    padding-top: 10px;
}

.product-page {
    display: flex;
}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
}

.filter-container h3 {
    margin-bottom: 10px;
}

.filter-container div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 80px;
}

.filter-container input[type="radio"] {
    margin-right: 10px;
}

.filter-container div label {
    padding-right: 15px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 400px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}

.product-card p {
    margin: 4px 0;
    color: #555;
}